/Spotify Web App/
/rate_my_spotify
/Manami final report/
*.dta
*.csv
*.sav
*.zip
*.gz
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.dat
*.dct
*.xls
*.xml
*.pdf
*.json
.vscode
.cache-jwhandley
*.Rdata
*.RdataTmp
.Rdata
.RdataTmp
.ipynb-checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.sas7bdat